.idea
back-end/.env
back-end/accounts/migrations
back-end/store/migrations
back-end/accounts/__pycache__
back-end/store/__pycache__
back-end/core/__pycache__
back-end/celerybeat-schedule
back-end/db.sqlite3
front-end/yarn.lock
front-end/package.json
front-end/node_modules
back-end/store/views/__pycache__
front-end/.vscode
front-end/.env
